// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import '~@fontsource/battambang/index.css';


body{
    background-color: rgb(238, 229, 229);
    // font-family: "Battambang", cursive;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    min-height: calc(100vh - 140px);
}

.debug{
    background-color: rgba(165, 42, 42, 0.596);
}

.box{
    background-color: gainsboro;
    height: 100%;
    .box-left, .box-right{
        width: 50%;
        border-radius: 15px;
    }
}
