// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: cadetblue;
}

.debug{
    background-color: rgba(165, 42, 42, 0.596);
}

.box{
    background-color: gainsboro;
    height: 100%;
    .box-left, .box-right{
        width: 50%;
        border-radius: 15px;
    }
}
